// Reset
/*! purgecss start ignore */
@import 'sanitize.css/sanitize.css';
@import 'sanitize.css/typography.css';
/*! purgecss end ignore */

// Utils
@import 'utils/variables', 'utils/grid.scss', 'utils/mixins';

// Layouts


// tmp
a {
  text-decoration: none;
  border: 1px dotted black;
  color: #000;

  &:visited {

  }
}

